@font-face {
  font-family: "DigitalHeading";
  font-weight: 500;
  font-stretch: semi-expanded;
  src: url("./fonts/DigitalHeading-Regular.woff2") format('woff2'),
       url("./fonts/DigitalHeading-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "DigitalReading";
  font-weight: 700;
  font-stretch: semi-expanded;
  src: url("./fonts/DigitalReading-Regular.woff2") format('woff2'),
       url("./fonts/DigitalReading-Regular.ttf") format('truetype');
}

@page {
  margin-bottom: 5pt;
  margin-top: 5pt;
  font-family: DigitalReading;
  letter-spacing: 0.5pt;
}

body {
  font-family: DigitalReading;
  margin: 0;
  padding: 0;
  background-color: #000;
  overflow: hidden;
}

header {
  background: #000;
  color: #ffffff;
  padding: 10px 0;
  font-size: 4.3em;
  text-align: center;
}
main {
  background: #000;
  color: #ffffff;
}

h1 {
  margin: 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

footer {
  background: #000;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.button {
  display: inline-block;
  font-size: 16px;
  color: #ffffff;
  background: #e8491d;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.button:hover {
  background: #c0392b;
}

.logo_center_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 24px;
  font-size: 30em;
  color: #ffffff;
  text-align: center;
}
